*{
    margin: 0;
    padding: 0px;
}
.primary_btn{
    color: white;
    padding: 10px 18px;
    min-width: 220px;
    background: #000000;
    border: none;
    border-radius: 5px;  
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.primary_btn:hover{
    color: #000000;
    background: white;
    border: 2px solid black;
}
.outline_btn{
    color: #000000;
    padding: 10px 18px;
    min-width: 220px;
    background: white;
    border: none;
    border-radius: 5px;  
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: 1px solid black;
}
.outline_btn:hover{
    color: white;
    background:black;
    border: 2px solid white;
}
.container{
    max-width: 1180px;
    margin: 0 auto;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.start-game_heading{
display: flex;
flex-direction: column;
align-items: end;
width: 528px;

}
.start-game_heading h1{
    font-size: 96px;
    white-space:nowrap;
    font-family: 'Poppins', sans-serif;
}

.start-game_btn{
    color: white;
    padding: 10px 18px;
    min-width: 220px;
    background: #000000;
    border: none;
    border-radius: 5px;  
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.start-game_btn:hover{
    color: #000000;
    background: white;
    border: 2px solid black;
}
.score_container{
    max-width: 200px;
    text-align: center;
}
.score_container h1{
    font-size: 100px;   
    line-height: 100px;
}
.score_container p{
        font-size: 24px;
        font-weight: 500px;
}
.Box{
    height: 62px;
    width:62px;
    border: 1px solid black;
    display: grid;
    place-items:center; 
    font-size: 24px;
    font-weight: 900;
    cursor: pointer;
}
.flex{
    display: flex;
    gap:24px;
}
.NumberSelector_container{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 8px;
}
.NumberSelector_container p{
    font-size: 24px; 
    font-weight: 700;
}
.top_section{
    display: flex;
    justify-content: space-around;
    align-items: end;
}
.main_container{
    padding-top: 30px;
}
.dice_container{
    display: flex;
    justify-content: center;
    margin-top: 28px;
    flex-direction: column;
    align-items: center;
 
}
.dice{
    cursor: pointer;
}
.dice_container p{
    font-size: 24px;
    font-weight: 400;
}
.error{
    color: red;
}
.dice_btn{
    display: flex;
    flex-direction: column;
    gap:24px;
    margin-top: 24px;
    justify-content: center;
    align-items: center;
}
.rules_container{
    max-width: 800px;
    background-color: #FBF1F1;
    margin: 0 auto;
    padding: 20px;
    margin-top: 40px;
    border-radius: 10px;
    margin-bottom: 40px;
}
.rules_container h2{
    font-size: 24px;
}
.text{
    margin-top: 24px;
}
